/*
 * I wanted to do this: 
 * @import ../js/node_modules/bootstrap/dist/css/bootstrap.min.css;
 * @import ../js/node_modules/bootstrap-daterangepicker/daterangepicker.css;
 * 
 * Works great in my local environment with clean-css, but I haven't figured 
 * out how to install clean-css on ix, so for now I'll explicitly load all the 
 * style sheets in the html. 
 */

body {
    background-color: "#ccffcc";
}

.multipleinput-container {
     border:1px #ccc solid;
     padding:1px;
     padding-bottom:0;
     cursor:text;
     font-size:13px;
     width:100%;
}
 
.multipleInput-container input {
     font-size:13px;
     clear:both;
     width:250px;
     height:24px;
     border:0;
     margin-bottom:1px;
}
 
.multipleInput-container ul {
     list-style-type:none;
}
 
li.multipleInput-email {
     float:left;
     margin-right:2px;
     margin-bottom:1px;
     border:1px #BBD8FB solid;
     padding:2px;
     background:#F3F7FD;
}
 
.multipleInput-close {
     width:16px;
     height:16px;
     display:block;
     float:right;
     margin:-2px 0px 0px 8px;
     color: #fff;
     font-size: 16px;
}
