<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>
<body>

<div class="container">
<h1 class="text-center">Matching Meeting Times</h1>
<p class="text-center"> Find a free time to setup a meeting between multiple people using thier google calendars!</p><br />

<div class="row">
  <!-- insert button if it is determined user is owner of some created meetings -->
  {% if g.isowner == True %}
  <div class="col">
    <div class="row">
      <h5>Found Meetings You're Organizing!</h5>
    </div>
    <div class="row">
      <form id="listmeetings" method="POST" action="/meetings">
        <button type=submit name="showmeetings">List Your Proposed Meetings</button>
        {% for cal in g.ownedcals %} 
          <input type="hidden" name="calsinfo" value="{{cal.id}},{{cal.summary}}">
        {% endfor %}
      </form> 
    </div>
   </div>
  {% endif %}
  <!-- insert button if determined user is has invites to meetings pending -->
  {% if g.isinvited == True %}
    <div class="col">
      <div class="row">
        <h5>You're invited to some meetings!</h5>
      </div>
      <div class="row">
        <form id="listinvited" method="POST" action="/invites">
          <button type=submit name="showinvited">List Meetings Invited To</button>
            {% for cal in g.ownedcals %}
              <input type="hidden" name="calsinfo" value="{{cal.id}},{{cal.summary}}">
            {% endfor %}
        </form>
      </div>
    </div>
  {% endif %}
</div>

{% if g.date is not defined %}
  <h2>Date/Time Range</h2>
    <div class="row">
      <form action="/setrange" method="post">
        <input type="text" name="daterange" size="12"
        {% if session.daterange is defined %}
          value="{{session.daterange}}"
        {% endif %}
        class="pull-down"
        style="background: #fff; cursor: pointer; padding: 5px 10px;
        border: 1px solid #ccc; width: 12em" >
        From:
        <input type="time" name="timestart" 
        {% if session.begin_time is defined %}
          value="{{ session.begin_time | fmttime }}"
        {% endif %}
        >
        To:
        <input type="time" name="timeend"
        {% if session.end_time is defined %}
          value="{{ session.end_time | fmttime }}"
        {% endif %}
        >
        <script type="text/javascript">
            $(function() {
            $('input[name="daterange"]').daterangepicker(
            {    ranges: {
               'Today': [moment(), moment()],
               'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
               'This week':[moment(), moment().endOf('week')],
               'Next week':[moment().add(7, 'days').startOf('week'),
                       moment().add(7, 'days').endOf('week')],
               'This month':[moment(), moment().endOf('month')],
               'Within two weeks':[moment(),moment().add(15, 'days')]
            }}
        );
    });
        </script>
        <input type="checkbox" name="allday" id="allday" value="">Check for All Day
        <script>
        $(document).ready(function(){
            $("#allday").click(function(){
                if(this.checked){
                    $('input[name=timestart]').val('00:00');
                    $('input[name=timeend]').val('23:59');
                } else {
                    $('input[name=timestart]').val('{{session.begin_time | fmttime }}');
                    $('input[name=timeend]').val('{{session.end_time | fmttime}}');
                }
            });
        });
        </script>
        </div>
        <div class="row">
          <input type="submit" value="Set Range" />
        </div>
      </form>
<br />

  <!-- create form to pass into /choose -->
  {% if g.calendars is defined %}
    {% if g.date is defined %}
      <h3>Meeting invitations will be sent to:</h3>
    {% else %}
      <h3>Check calendars to find free time available between them:</h3>
    {% endif %}
    <form id="calchoose" method="POST" action="/choose">
          <div class="row">
            <div class="col-md-3">
        {% for cal in g.calendars if cal.selected %}
              <input type="checkbox" class="checkboxes" name="calendar" value="{{cal.id}},{{cal.summary}},{{cal.accessrole}}"
                {% if session.selected is defined and cal.id in session.selected %}
                 checked >
                {% else %}
                  >
              {% endif %}
              {{ cal.summary }}
              <br />
          {% if loop.index is divisibleby 4 %}
            </div><div class="col-md-3">
          {% endif %}
        {% endfor %}
            </div>
          </div>
        <div class="row">
          <div class="col-md-4">
            <label><input type="checkbox" name="checkall" id="checkall">Check all Calendars</label>
            <script>
            $(document).ready(function(){
                $("#checkall").click(function(){
                    if(this.checked){
                        $('.checkboxes').each(function(){
                            this.checked = true;
                        })
                    }
                    else {
                        $('.checkboxes').each(function(){
                            this.checked = false;
                         })
                    }
                });
            });
            </script>
          </div>
        </div>
      <div class="row">
        <button type=submit name="calchoose">Show Freetimes</button>
      </div>
    </form>
  {% endif %}
{% endif %}

<!-- flash flask messages for errors/notifications -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- outputting agenda of events/freetimes -->
{% if g.free is defined %}
  <h2>Free Times Available between {{ session.begin_time | fmtfreetime }} and {{session.end_time | fmtfreetime}}:</h2>
  <form id="freetimechoose" method="POST" action="/choose">
    <div class="row">
      {% for day in g.free %}
        <div class="col-md-2">
          <div class="row" style="border-style: solid">
            {{ day["start"] | fmtdate }}
          </div>
          {% for block in day["agenda"] %}
            <div class="row" style="border-style: dashed; border-width: 1px;">
                <label class="radio-inline">
                  <input type="radio" name="freetimechosen" value="{{ block.start }},{{ block.end }}">
                    {{ block.start | fmtfreetime}} - {{ block.end | fmtfreetime}}
                </label>
                <br />
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  <br />
  <div class="row">
    <input type="submit" name="ftchoose" value="Choose Free Time" />
  </div>
  </form>
{% endif %}

<!-- show meeting entry field -->
{% if g.date is defined %}
<div class="row">
<div class="col-md-9">  
  <h2>Enter Meeting Info:</h2>
  <form id="createmeeting" method="POST" action="/create">
    Select Calender to set as Owner of Event:<br />
    {% for calid, calinfo in session.selected.items() %}
        {% if calinfo[1] == "owner" %}
              <input type="radio" name="eventowner" value="{{calid}},{{calinfo[0]}}">
                {{ calinfo[0] }}
                <br />
        {% endif %}
    {% endfor %}
    <div class="row">
      <div class="col-md-3">
        Date:
      </div>
      <div class="col-md-9">
        <input type=date name="date" value="{{ g.date }}">
        From:
        <input type="time" name="timestart" value="{{ g.start | fmttime }}">
        To:
        <input type="time" name="timeend" value="{{ g.end | fmttime }}">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        Event Title:
      </div>
      <div class="col-md-9">
        <textarea name="title" id="title" rows="1" style="width: 100%;"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        Description:
      </div>
      <div class="col-md-9">
        <textarea name="description" id="desc" rows="10" style="width: 100%;"></textarea>
      </div>
    </div>
    <input type="submit" name="meetsubmit" value="Subit Meeting Request">
  </form>
</div>
<div class="col">
  <div class="row">
    <h3>Invited Calendars:</h3>
  </div>
  {% for calid, calinfo in session.selected.items() %}
    {% if calinfo[1] != "owner" %}
      <div class="row">
        {{ calinfo[0] }}
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
{% endif %}

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
