<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Show invites</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>
<body>

<div class="container">
<h1 class="text-center">Your Meeting Invites</h1>
<p class="text-center"> Displays the meetings you've been invited to!</p><br />

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- outputting meetings which the user is an owner of -->
    <div class="row">
      {% for meeting in g.ownedinvites %}
        <div class="col-md-6" style="border-style: solid">
            <p class="text-center" style="border-style: solid;">{{ meeting['title'] }}</p>
            <p class="text-center">Owned By Calendar: {{ meeting['ownersummary'] }}</p>
            <p class="text-center">{{meeting.start | fmtdate }}      {{ meeting.start | fmtfreetime }} - {{ meeting.end | fmtfreetime }}</p>
          {% for invitee in meeting['invitees'] %}
            {% if invitee['id'] in g.ownedcals %}
              <div class="row">
                <div class="col-md">
                  (Your Calendar) {{invitee['summary']}}
                </div>
                {% if invitee['status'] == "pending" %}
                  <form id="response" method="POST" action="/reject">
                    <div class="col-md">
                      <button type=submit class="btn btn-primary btn-sm" name="reject"
                              value="{{invitee['id']}},{{meeting['_id']}}">
                        reject
                      </button>
                    </div>
                  </form>
                  <form id="response" method="POST" action="/accept">
                    <div class="col-md">
                      <button type=submit class="btn btn-primary btn-sm" name="accept"
                              value="{{invitee['id']}},{{meeting['_id']}}">
                        accept
                      </button>
                    </div>
                  </form>
                {% endif %}
                <div class="col-md-auto">
                  {{invitee['status']}}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        {% if loop.index is divisibleby 2 %}
          </div><br /><div class="row">
        {% endif %}
      {% endfor %}
    </div>


  </div>  <!-- container (for bootstrap) -->
  </body> </html>
