<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Show Events</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>
<body>

<div class="container">
<h1 class="text-center">Meeting Display</h1>
<p class="text-center"> Displays the meetings organized by you!</p><br />

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- outputting meetings which the user is an owner of -->
    <div class="row">
      {% for meeting in g.meetings %}
        <div class="col-md-4" style="border-style: solid">
            <p class="text-center" style="border-style: solid;">{{ meeting['title'] }}</p>
            <p class="text-center">{{meeting.start | fmtdate }}      {{ meeting.start | fmtfreetime }} - {{ meeting.end | fmtfreetime }}</p>
          {% for invitees in meeting['invitees'] %}
            <div class="row">
              <div class="col-md">
                {{invitees['summary']}}
              </div>
              <div class="col-md-auto">
                {{invitees['status']}}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>


<!-- outputting agenda of events/freetimes -->
{% if g.free is defined %}
  <h2>Free Times Available between {{ session.begin_time | fmtfreetime }} and {{session.end_time | fmtfreetime}}:</h2>
  <form id="freetimechoose" method="POST" action="/choose">
    <div class="row">
      {% for day in g.free %}
        <div class="col-md-2">
          <div class="row" style="border-style: solid">
            {{ day["start"] | fmtdate }}
          </div>
          {% for block in day["agenda"] %}
            <div class="row" style="border-style: dashed; border-width: 1px;">
                <label class="radio-inline">
                  <input type="radio" name="freetimechosen" value="{{ block.start }},{{ block.end }}">
                    {{ block.start | fmtfreetime}} - {{ block.end | fmtfreetime}}
                </label>
                <br />
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  <div class="row">
    <input type="submit" name="ftchoose" value="Choose Free Time" />
  </div>
  </form>
{% endif %}

<!-- show meeting entry field -->
{% if g.date is defined %}
  <h2>Enter Meeting Info:</h2><br />
  <form id="createmeeting" method="POST" action="/create">
    Select Calender to set as Owner of Event:<br />
    <div class="row">
    <div class="col-md-2">
    {% for calid, calinfo in session.selected.items() %}
        {% if calinfo[1] == "owner" %}
              <input type="radio" name="eventowner" value="{{calid}}">
                {{ calinfo[0] }}
                <br />
        {% endif %}
    {% endfor %}
    </div>
    </div>
    <div class="row">
        <input type=date name="date" value="{{ g.date }}">
      </label>
      From:
      <input type="time" name="timestart" value="{{ g.start | fmttime }}">
      To:
      <input type="time" name="timeend" value="{{ g.end | fmttime }}">
    </div>
    <div class="row">
      Event Title:<textarea name="title" id="title" rows="1" style="width: 30%;"></textarea>
    </div>
    <div class="row">
      Description:<textarea name="description" id="desc" rows="10" style="width: 40%;"></textarea>
    </div>
    <input type="submit" name="meetsubmit" value="Subit Meeting Request">
  </form>
{% endif %}

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
