<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Show Meetings</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>
<body>

<div class="container">
<h1 class="text-center">Meetings You've Organized</h1>
<p class="text-center"> Displays the meetings organized by you!</p><br />

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- outputting meetings which the user is an owner of -->
    <div class="row">
      {% for meeting in g.ownedmeetings %}
        <div class="col-md-4" style="border-style: solid">
            <p class="text-center" style="border-style: solid;">{{ meeting['title'] }}</p>
            <p class="text-center">Owned By Calendar: {{ meeting['ownersummary'] }}</p>
            <p class="text-center">{{meeting.start | fmtdate }}      {{ meeting.start | fmtfreetime }} - {{ meeting.end | fmtfreetime }}</p>
            <p class="text-center">Status: {{meeting.status}}</p>
          {% for invitee in meeting['invitees'] %}
            <div class="row">
              <div class="col-md">
                {{invitee['summary']}}
              </div>
              <div class="col-md-auto">
                {{invitee['status']}}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>



  </div>  <!-- container (for bootstrap) -->
  </body> </html>
